table{
    border:2px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    
}

th,td{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

th{
    background-color: orange;
    color: black;
    height: 30px;
    vertical-align: middle;
}

tr:nth-child(even){
    background-color:lightgray;
}

tr:nth-child(odd){
    background-color:lightblue;
}

tr:hover{
    background-color:tomato;
}

body{
    background-color: #292929;
}
.cap{
    color: orange;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 50px;
}