.item1{grid-area: header;}
.item2{grid-area: menu;}
.item3{grid-area: main;}
.item4{grid-area: aside;}
.item5{grid-area: footer;}


.grid-container{
    display: grid;
    /*grid-template-columns: auto auto auto auto auto auto;*/
    grid-template-areas:
        'header header header header header header'
        'menu main main main aside aside'
        'menu footer footer footer footer footer'
    ;
}
.grid-container > div{
    background-color: slategray;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
}
/*
.item1{
    grid-column: 1/7;
}
.item2{
    grid-column: 1/2;
    
}
.item3{
    grid-column: 2/6;
}
.item4{
    grid-column: 6/7;
}
.item5{
    grid-column: 1/7;
} */

